h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background: black;
    animation: fade 15s;
    margin-bottom: 2rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    width: 400px;
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px auto; /* Center the footer */
    text-align: center; /* Center the text in the footer */
}