* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; 
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.5; 
}

header {
    margin: 0.5rem; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(19, 121, 19, 0.9);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center; 
}

.logo {
    width: 100%; 
    max-width: 200px; 
    height: auto;
}

nav {
    color: rgba(19, 121, 19, 0.9);
    margin: 0.5rem;
    background: rgba(229, 215, 136, 0.9);
    padding: 1rem;
    text-align: center;
}

nav ul {
    font-size: 1.5rem; 
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff; 
    font-size: 2rem; 
}

h2 {
    font-size: 2rem; 
    font-family: 'Kanit', sans-serif;
    color: rgba(19, 121, 19, 0.9);
    margin: 0.5rem;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
}

section {
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgba(229, 215, 136, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wire {
    max-width: 100%;
}
.color-palette {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.color-swatch {
    width: 50px;
    height: 50px;
    margin: 5px 0;
    border: 1px solid #000;
}

a {
    color: rgba(19, 121, 19, 0.9); 
}

footer {
    background-color: rgba(19, 121, 19, 0.9);
    color: #fff;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
}

#myButton::before{
    content: "≡";
    font-weight: bold;
}

#myButton {
    font-size: 2rem;
    background: rgba(229, 215, 136, 0.9);
    border: none;
    color: rgba(19, 121, 19, 0.9);
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 1rem 2vw;
}

ul.menulinks {
    display: none;
    list-style-type: none;
     /* Add transition properties */
     max-height: 2rem; /* Added max-height */
     opacity: 1; /* Added opacity */
     overflow: hidden; /* Added overflow hidden */
    
}

ul.open{
    display: block;
     /* Modify properties for open state */
     max-height: 500px; /* Set a maximum height when open */
     opacity: 1; /* Set opacity to 1 when open */
}

#myButton.open::before{
    content: "Ẍ";
    font-weight: bold;
}

.hero {
    padding: 1rem;
    
}

.hero img {
    width: 100%;
}
/* Button styling */
.cta {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgba(19, 121, 19, 0.9);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px; /* Adjust as needed */
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: rgba(19, 121, 19, 1); /* Darker shade on hover */
}

#spot {
    margin-bottom: 2rem;
}

#spotlight{
    margin-bottom: 2rem;
}