@media (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        max-width: 1000px;
        margin: 0 auto; 
        padding: 0 20px; 
    }
    
    header {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        padding: 1rem;
        justify-content: flex-start; 
    }

    .logo {
        max-width: 15rem;
        height: auto;
        margin-right: 1rem; 
        flex-shrink: 0; 
        padding-left: 2rem;
    }
    .hero {
        padding-top: 1rem;
    }

    h1 {
        font-family: 'Oswald', sans-serif;
        color: #fff;
        flex-grow: 1; /* Allow the h1 to take up the remaining space */
        font-size: 2.5rem;
    }

     #animateme .menulinks {
        display: flex;
        justify-content: space-around; /* Space items evenly */
        list-style: none;
        padding-bottom: 3rem;
    }
    
    nav ul li {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        margin: 2.5rem;
    }

    section {
        font-size: 1rem;
        padding: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav ul li a:hover {
        border-bottom: 2px solid rgba(19, 121, 19, 0.9);
    }

    #myButton {
        display: none;
    }    

    footer {
        font-size: 1.5rem;
    }

    /* ............... */

    .grid-container {
        grid-template-columns: 1fr 2fr;
        grid-gap: 2rem;
    }
    
    .sidebar {
        grid-column: 1;
    }
    
    .main-content {
        grid-column: 2;
    }
    
    .gallery img:hover {
        transform: scale(1.05);
        border-radius: 1rem;
    }

    
    figcaption {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* .........lFORM STYLE......... */

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}    
